.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    border-radius: 8px;
    background-color: var(--bg-color-light-secundario);
    box-shadow: 0 2px 1px -1px #42424233, 0 1px 1px 0 #42424224, 0 1px 3px 0 #4242421f;
    padding: 1em;
    position: relative;
}

.container span {
    text-transform: capitalize;
}

.role {
    font-weight: 600;
    font-size: 28px;
}

.remote {
    font-size: 12px;
}

.container_sub {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.div_salary_location {
    display: flex;
    gap: 2em;
}

.link {
    width: 200px;
    font-size: 22px;
    color: var(--text-dark);
    background-color: var(--mpac-primary-color);
    border: none;
    padding: 0.4em;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    margin: .5em 0;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background-color: var(--mpac-primary-color-dark);
}

@media (max-width: 850px) {
    .container {
        width: 95%;
    }
    .container_sub {
        flex-direction: column;
        margin-top: 1em;
    }
}